/*
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/
.nav-search-input{
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    height: 40px;
    width: 80%;
    border-style: solid;
    border-color: rgba(0,0,0,0);
    border-width: 1.5px;
    margin-top: 10px;
}
.titles-24px {
    font-size: 24px;
}

.text-body-12px {
    font-size: 12px;
}

.font-xl {
    font-size: 18px;
    bg-white }
  
.p-1 {
    padding: 8px;
  }

.p-2 {
    padding: 20px;
  }

  .article-m-10px-bg-white {
    background-color: white;
    margin-bottom: 10px;
    margin-left: 5%;
}
.w-100 {
    width: 100%;
  }

.prices-18px {
    font-size: 18px;
}

.description-16px-gey {
    font-size: 16px;
    color: #666;
}

.discount-16px-green {
    font-size: 16px;
    color: #39b54a;
}

.icon-burger-menu {
    background: #1259c3;
    color: white;
    width: 10%;
    height: 10%;
    border-radius: 15%;
    position: relative;
    left: 50%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.icon-2em {
    width: 2em;
}

.icon-blue {
    color: #1259c3
}

.icon-blue:hover{
    color: #EAC926;
}
.logo {
    width: 50%;
}

.txt-center {
    text-align: center;
}

.txt-left {
    text-align: left;
}

.margen-b-10px {
    margin-bottom: 10px;
}

.margen-t-20px {
    margin-top: 20px;
}

.margen-l-37perc {
    margin-left: 22%;
}

.margen-r-37perc {
    margin-right: 22%;
}

.margen-10px {
    margin: 10px;
}

.margen-15px {
    margin: 15px;
}

.margen-l-40px {
    margin-left: 40px;
}
 
.bg-color-grey {
    background-color: #666;
}

.bg-color-ligth-grey {
    background-color: #ebebeb;
}
.br-solid-black-1px {
    border: solid 1px black;
    padding: 3px;
}

.brt-solid-ligthgrey-1px-p15px {
    border-top: solid 1px #ebebeb;
    padding: 15px;
}

.bg-color-yellow {
    background-color: #EAC926;
}

.bg-color-white {
    background-color: white;
}

.section_main {
    background-color: #ebebeb;
    padding: 1%;
}

.display_flex{
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}
  
.b-none {
    border: none;
  }

  .outline-none {
    outline: none;
  }

.radius-1 {
    border-radius: 5px;
  }

.button{
    border-radius: 6px;
    background-color: #1259c3;
    border-color: transparent;
    color: white;
    width: 100%;
    height: 40px;
    margin-top: 10px;
}
.button:hover{
    background-color: #0022AA;
}

.form_register{
    margin-left: 15%;
    margin-right: 15%;

}
/* Recommended measures in class:
    Mobile -> (361px) - 520px
    Tablet -> 768px - (1025px)
    Desktop Estandar -> 1280px - (1440px)
    Desktop HD -> 1600px - (1920px) */

/*Mobile*/
@media (max-width: 768px) {      
    .md-mobile-no-display {
        display: none;
    }
}

/*Tablet*/
@media (min-width: 769px) {  
    .md-higher-mobile-shadow {
        box-shadow: none ;
    }
    .md-higher-mobile-no-display {
        display: none;
    }
    .md-higher-mobile-shadow:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .md-product-description{
        display: none;
    }
    .product-desc-box:hover .md-product-description{
        display: block;
    }
}

@media (min-width: 1281px) {  

    .md-higher-Desktop-no-display {
        display: none;
    }
    .md-fc-footer {
        display: flex;  
        flex-direction: row;
    }
    .md-w-25 {
        width: 20%;
      }
    
}

/*Tablets*/
@media (max-width: 1280px) {      
    .md-tablets-no-display {
        display: none;
    }
    .md-fc-footer {
        display: flex;  
        flex-direction: column;
    }
}
 
@media (min-width: 481px) {
    /* tablet */
    .md-w-50 {
      width: 48%;
    }
  }

.fc-footer-item{
 flex-wrap: nowrap;
}

.no_display{
    display: none;
} 

.no_display:hover{
    display: block;
}

.product-desc-box > .product-delivery-icon{
display: block;
font-size: 16px;
padding: 5px;
width: 30px;
height: 30px;
color: #39b54a;
border: 1px solid #39b54a;
background-color: #FFF;
border-radius: 50%;
position: absolute;
right: 20px;
top: -15px;
}

.product-desc-box {
    position: relative;
}

.product-delivery-icon:hover{
    transform: rotate(270deg);
}

.flex-container-products {
    display: flex;  
}
.fc-products  {
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-around; 
    gap: 10px;
}

.flex-container-products-price {
    width: 30%;
}

.flex-container-products-discount {
    width: 70%;
}
.flex-container-header {
    display: flex;  
    flex-wrap: wrap;
    width: 100%;
}

.flex-container-header-item {
flex-grow: 1;
text-align: center;
}

.flex-container-header-logo {
    width: 25%;
}

.flex-container-item2 {
    width: 50%;
}
.fc-nav-bar {
    display: flex;
    justify-content: space-around; 
}

.fc-nav-bar-item {
}

.fc-nav-bar-separator{
    flex-grow:0.5;
}
.fc-product {
    display: flex;
    flex-direction: column;
}

.fc-products-item{

}

.fc-buttons{
    display: flex;
    justify-content: space-around; 
    width: 100%;
}
.fc-buttons-item{
    flex-wrap: nowrap;
    width: 40%;
    padding-bottom: 10px;
    padding-top: 15px;
}

.input_strings{
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    height: 40px;
    width: 100%;
    border-style: solid;
    border-color: rgba(0,0,0,0);
    border-width: 1.5px;
    margin-top: 10px;
}

.fc-login{
    display: flex;
    justify-content: center;
    width: 100%;
}

