<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--To be adaptative-->
    <meta name="viewport" content="width=device-with, initial-scale=1.0">

    <!--Styles-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <!--Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--Styles-->
    <link rel="stylesheet" href="/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Mercado Liebre</title>
</head>

<body class="bg-color-ligth-grey">
    <header class="bg-color-yellow">
        <!--Header section-->
        <div class="flex-container-header margen-15px p-1">
            <div class="flex-container-header-logo">
                <h1>
                    <img src="/images/logo-mercado-liebre.svg" alt="Logo-mercado-liebre">
                </h1>
            </div>
            <div class="flex-container-header-item p-2">
                <form action="/" class="p-1 display_flex radius-1 bg-color-white">
                    <input class="flex-grow b-none outline-none font-xl" type="text" name="search"
                        placeholder="Buscá productos por nombre, marcas o palabras clave" />
                    <button type="submit" class="bg-color-white b-none">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
            <div class="flex-container-header-item">
                <p class=" margen-15px margen-l-40px"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y
                    sin tarjeta de crédito </p>
            </div>
        </div>
        <div class="md-mobile-no-display p-1">
            <ul type="none" class="fc-nav-bar">
                <li class="fc-nav-bar-item"><a href="#" class="link">Ofertas</a></li>
                <li class="fc-nav-bar-item"><a href="#" class="link">Tiendas Oficiales</a></li>
                <li class="fc-nav-bar-item"><a href="#" class="link">Vender</a></li>
                <li class="fc-nav-bar-item"><a href="#" class="link">Ayuda</a></li>
                <li class="fc-nav-bar-separator"><a href="#" class="link"></a></li>
                <li class="fc-nav-bar-item"><a href="/register" class="link">Creá tu cuenta</a> <i class="fa-regular fa-id-card"></i>
                </li>
                <li class="fc-nav-bar-item"><a href="/login" class="link">Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i>
                </li>
                <li class="fc-nav-bar-item"><a href="#" class="link"> Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
         </div>
        <div class="icon-burger-menu md-higher-mobile-no-display">
            <i class="fa-solid fa-bars fa-2xs"></i>
        </div>
        <div class="bg-color-ligth-grey">
            <img src="/images/img-home-banner.jpg" alt="Banner" width="100%">
        </div>
    </header>

    <main class="fc-login">
        <form action="/home" method="POST" class="form_login">
            <div>
                <input type="text" placeholder=" Nombre de usuario" id="nombreUsuario" class="input_strings" required>
            </div>
            <div>
                <input type="password" placeholder=" Contraseña" id="password" class="input_strings" minlength="4" maxlength="12" required>
            </div>
            <div>
                <button type="submit" class="button">Enviar</button>
            </div>
        </form>
    </main>
    <!--Footer-->
    <footer class="bg-color-white">
        <div class="md-fc-footer margen-t-20px">
            <div class="fc-footer-item txt-center">
                <i class="fa-solid fa-credit-card icon-2em margen-b-10px margen-t-20px icon-blue"></i>
                </p>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <div class="margen-l-37perc margen-r-37perc">
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.
                        ¡Y
                        siempre es
                        seguro!</p>
                </div>
            </div>
            <div class="fc-footer-item txt-center">
                <i class="fa-solid fa-gift icon-2em margen-b-10px margen-t-20px icon-blue"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <div class="margen-l-37perc margen-r-37perc">
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                        beneficio de
                        Mercado Puntos.</p>
                </div>
            </div>
            <div class="fc-footer-item txt-center">
                <i class="fa-solid fa-user-shield icon-2em margen-b-10px margen-t-20px icon-blue"></i>
                <h3>Seguridad, de principio a fin</h3>
                <div class="margen-l-37perc margen-r-37perc">
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás
                        siempre
                        protegid@.</p>
                </div>
            </div>
        </div>
        <div class="txt-left margen-t-20px">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>
</html>